@using AMA.Robotat.Mvc.Models.Components
@model IEnumerable<ComponentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create a New Componenet</a>
</p>
<table class="table data-tables table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var component in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => component.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => component.Price)
                <span>JOD</span>
            </td>
           
            <td >
                <a class="text-decoration-none" asp-action="Edit" asp-route-id="@component.Id" title="Edit">
                        <i class="fa-sharp fa-solid fa-gear"></i>
                </a> 
                <a class="text-decoration-none ms-2" asp-action="Details" asp-route-id="@component.Id" title="Details">
                        <i class="fa-sharp fa-solid fa-circle-info"></i>
                </a> 
                    <a class="text-decoration-none ms-2" data-bs-toggle="modal" data-bs-target="#DeleteComponent_@component.Id">
                        <i class="fa-sharp fa-solid fa-trash-can"></i>
                </a>

                <!-- Modal -->
                    <div class="modal fade" id="DeleteComponent_@component.Id" tabindex="-1" aria-labelledby="DeleteComponentLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                               <h1 class="modal-title fs-5" id="DeleteComponentLabel">Delete <span>Delete Component</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <h3>
                              Are you sure you want to delete <span class="text-danger">@component.Name</span>
                          </h3>
                      </div>
                      <div class="modal-footer">

                                    <form asp-action="Delete">
                                        <input type="hidden" name="id" value="@component.Id" />
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <input type="submit" value="Delete" class="btn btn-danger ms-2" />
                                    </form>


                      </div>
                    </div>
                  </div>
                </div>


            </td>
        </tr>
}
    </tbody>
</table>
